html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar {
  width: 100%;
  height: 10%;
  border-bottom: solid 1px white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-styling {
  width: 70%;
  height: 50px;
  padding: 0 18px;
  margin: 0 10px 0 0;

  border: 2px solid #4a7ee8;
  border-radius: 8px;

  font-size: 18px;
  font-family: sans-serif;

  outline: none;
  box-sizing: border-box;
}

.search-button {
  height: 50px;
  padding: 0 30px;
  border: none;
  border-radius: 8px;
  background-color: rgb(90, 90, 241);

  color: white;
  font-size: 18px;
  cursor: pointer;
}

.body_info {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.show_card {
  height: 100%;
  width: 30%;
}

.show_info {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0 0 0 1vw;

  font-size: 1.6vh;
  font-family: sans-serif;
}

.episodes-by-season-info-panel {
    width: 100%;
    display: grid;
    gap: 1px;
    background-color: white;
}

.grid-cell {
  background-color: blue;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.season-block{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
}

.episode-block {
    width: 10%;
    height: 100%;
    background-color: blue;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poster_image {
  width: 100%;
  height: 100%;
}
