.test {
    width: 80vw;
    height: 10vh;
    border-bottom: solid 0.3vh white;
}

.title {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white
}